.page-item:not(:first-child) .page-link{margin-left:-1px}
.page-item.active .page-link{z-index:3;color:#fff;background-color:#0d6efd;border-color:#0d6efd}
.page-link{color: #6c757d; background-color: #fff; border-color: #dee2e6;}
.page-item.disabled .page-link{color:#6c757d;pointer-events:none;background-color:#fff;border-color:#dee2e6}
.page-link{padding:.375rem .75rem}.page-item:first-child .page-link{border-top-left-radius:.25rem;border-bottom-left-radius:.25rem}
.page-item:last-child .page-link{border-top-right-radius:.25rem;border-bottom-right-radius:.25rem}
.pagination-lg .page-link{padding:.75rem 1.5rem;font-size:1.25rem}
.pagination-lg .page-item:first-child .page-link{border-top-left-radius:.3rem;border-bottom-left-radius:.3rem}
.pagination-lg .page-item:last-child .page-link{border-top-right-radius:.3rem;border-bottom-right-radius:.3rem}
.pagination-sm .page-link{padding:.25rem .5rem;font-size:.875rem}
.pagination-sm .page-item:first-child .page-link{border-top-left-radius:.2rem;border-bottom-left-radius:.2rem}
.pagination-sm .page-item:last-child .page-link{border-top-right-radius:.2rem;border-bottom-right-radius:.2rem}
.wishlist-pagination ul li{ margin: 0px 0px; }
.round{
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid #677eff;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(25,147,147,0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(46, 196, 255, 0.50);
    background-color: linear-gradient(180deg, rgba(46,196,255,0.50) 0%, rgba(192,0,255,0.75) 100%);
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: rgb(46,196,255);
    background: linear-gradient(180deg, rgba(46,196,255,0.75) 0%, rgba(192,0,255,1) 100%);
}
.hero{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(145deg, rgba(255,255,255,1) 0%, rgba(255,102,0,1) 68%);
    background: -webkit-linear-gradient(145deg, rgba(255,255,255,1) 0%, rgba(255,102,0,1) 68%);
    background: linear-gradient(145deg, rgba(255,255,255,1) 0%, rgba(255,102,0,1) 68%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ff6600",GradientType=1);
    height: 400px;
}
@media (max-width: 991px){
    #text1, #text2 {
        position: absolute;
        width: 100%;
        display: inline-block;
        font-size: 40pt;
        user-select: none;
    }
    .promo .row .banner{
        width: 100%;
        margin-bottom: 20px;
    }
    .is-vcentered{
        padding-left: 15px;
    }
    .t_mobile{
        width: 90%;
    }
    .no-mobile{
        display: none;
    }
}
@media (min-width: 991px){
    #text1, #text2 {
        position: absolute;
        width: 100%;
        display: inline-block;
        font-size: 80pt;
        user-select: none;
    }
    .promo .row .banner{
        width: 500px;
        margin: 20px;
    }
    .container{
        margin-left: 60px;
    }
    .content{
        margin-left: 60px;
        margin-right: 60px;
    }
    .footer{
        padding-left: 80px;
        padding-right: 80px;
    }
    .t_mobile{
        width: 100%;
    }
}
.hero .row{
    padding-top: 100px;
    padding-left: 15%;
}
.promo{
    padding: 30px;
    color: white;
}
.promo .row .banner{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    background-color: rgb(161, 236, 211);
}

.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x)/ -2);margin-left:calc(var(--bs-gutter-x)/ -2)}.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x)/ 2);padding-left:calc(var(--bs-gutter-x)/ 2);margin-top:var(--bs-gutter-y)}